body {
    margin: 0;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
}

ul {
    padding: 0;
    margin: 0;
}


header {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}


.headerdateandiconsWrapper {
    width: 100%;
    align-items: center;
    height: 60px;
    background-color: #F2F2F2;
    display: flex;
    justify-content: center;
}

.openingTime {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #1C2752;
}

.iconsWrapper {
    display: flex;
    align-items: center;
    gap: 17px;
}

.iconsanddateWrapper {
    max-width: 1198px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.iconsWrapper img {
    cursor: pointer;
}

.headeritemsWrapper {
    max-width: 1199.79px;
    width: 100%;
    height: 68px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 44px;
    height: 47.5px;
    border-radius: 50px;
}

.logoforComment {
    width: 30px;
    height: 29px;
    border-radius: 25px;
}

.logoWrapper > span {
    font-family: 'Mulish', sans-serif;
    font-weight: 800;
    font-size: 35px;
    line-height: 43.93px;
}

.logoWrapper {
    display: flex;
    align-items: center;
    height: 47.5px;
    width: 240px;
    gap: 10px;
}

.contactbuttonsWrapper {
    display: flex;
    gap: 68px;
    align-items: center;
}

.mailconvertWrapper, .phonelogoWrapper {
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #263AE7;
    border-radius: 256px;
    justify-content: center;
}


.mailinfoWrapper {
    display: flex;
    flex-direction: column;

}

.mailinfoWrapper h3, .callusinfoWrapper h3 {
    font-family: 'Mulish', sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 25.1px;
    color: #1C2752;
}

.mailinfoWrapper span, .callusinfoWrapper span {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 21.78px;
    color: #7E7E7E;
}

.mailWrapper {
    display: flex;
    gap: 11px;
    align-items: center;
}

.callUs {
    display: flex;
    gap: 11px;
    align-items: center;
}

nav {
    width: 100%;
    height: 93px;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 197px;
    position: absolute;
}

.navigationWrapper {
    max-width: 1199px;
    width: 100%;
    box-sizing: border-box;
    padding: 14px;
    display: flex;
    justify-content: space-between;
    height: 100%;
    background-color: #FFB342;
}

.navigationWrapper ul {
    display: flex;
    align-items: center;
    width: 700px;
    justify-content: space-between;
    list-style-type: none;
}

.navigationWrapper ul a {
    text-decoration: none;
    font-family: Inter, sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 24.2px;
    color: #2F2F2F;
}

.navitemPages {
    display: flex;
    align-items: center;
    gap: 3px;
}

.navigationWrapper button {
    padding: 20px 22px 21px;
    background-color: #1C2752;
    display: flex;
    border: none;
    align-items: center;
    cursor: pointer;
    justify-content: center;
}

.navigationWrapper button span {
    font-family: Inter, sans-serif;
    font-weight: 600;
    font-size: 20px;
    color: white;
    line-height: 24.2px;
}

main {
    margin-top: 66px;
}

.mainpageBakcground {
    width: 100%;
    height: 924px;
    background-image: url("../images/mainbackgruond.jpg");
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
}

.mainpageBakcground > div {
    display: flex;
    flex-direction: column;


}

.intriganComment {
    width: 500px;
    padding: 8px 16px 7px;
    background-color: rgba(255, 255, 255, 0.2);
    box-sizing: border-box;
}

.intrigancommentWrapper {
    max-width: 1199px;
    width: 100%;
    margin-top: 329px;
    height: 100%;
    flex-direction: column;
    display: flex;
}
.intriganComment > div {
    display: flex;
    align-items: center;
    gap: 9px;
}


.intriganComment > div span {
    font-family: Inter, sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 21.78px;
    color: #FFFFFF;
}

.weareproffesoinalsWrapper {
    width: 619px;
    margin-top: 21px;
}

.weareproffesoinalsWrapper h1 {

    font-family: 'Mulish', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 60px;
    line-height: 75px;
    color: #FFFFFF;
}

.intrigancommentWrapper button {
    width: 191px;
    margin-top: 32px;
    border: none;
    height: 65px;
    padding: 20px 33px 21px;
    box-sizing: border-box;
    background-color: #FFB342;
    font-family: Inter, sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 24.2px;
    color: #1C2752;
}


.mainWrapper {
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    justify-content: center;
    margin-top: 150px;
}

.experienceWrapper {
    padding: 8px 16px 7px;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    width: 235.48px;
    height: 45px;
    background-color: #F4F4F4;
}

.welcomemessageWrapper {
    display: flex;
    align-items: center;
    gap: 9px;
}

.welcomemessageWrapper span {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 21.78px;
    color: #1C2752;
}

.expereienceContainer {
    display: flex;
    gap: 60px;
    flex-wrap: wrap;
}

.welcomemessageWrapper img {
    width: 22.48px;
    height: 24.27px;
    border-radius: 50px;
}

.experienceinfoWrapper {
    width: 600px;
    margin: 23.92px 0;
}

.apkazetifutureWrapper span {
    font-family: 'Mulish', sans-serif;
    font-weight: 800;
    font-size: 45px;
    line-height: 56px;
    color: #1C2752;
}

.apkazetifutureWrapper {
    margin-top: 10px;
}

.aboutBachana {
    display: flex;
    margin-top: 20px;
    gap: 25px;
    flex-direction: column;
}

.aboutBachana p {
    margin: 0;
    font-family: Inter, sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 21.78px;
    color: #7E7E7E;
}

.experienceyearWrapper {
    display: flex;
    gap: 40px;
    margin-top: 38px;
}

.experienceyearWrapper > div {
    display: flex;
    flex-direction: column;
    background-color: #F4F4F4;
    gap: 19px;
    justify-content: center;
    align-items: center;
    padding: 35px 34px;
}

.experienceyearWrapper div span {
    font-family: 'Mulish',sans-serif;
    font-weight: 800;
    font-size: 20px;
    line-height: 25px;
    text-align: center;
    width: 107px;
    color: #1C2752;
}

.experienceyearWrapper ul {
    width: 319px;
    display: flex;
    flex-direction: column;
    margin: 30.58px 0;
    gap: 16px;
    list-style-type: none;
}

.experienceyearWrapper ul li {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #7E7E7E;
}

.serviceWrapper {
    width: 100%;
    background-color: #FFB342;
    height: 750px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 150px;
}

.commericalbtnWrapper {
    display: flex;
    align-items: center;
    background-color: #FFFFFF;
    gap: 7px;
    width: 221px;
    height: 65px;
    justify-content: center;
    border: none;
}

.btnsWrapper {
    display: flex;
    gap: 30px;
    margin-top: 30px;
    justify-content: center;
    flex-wrap: wrap;
}

.btnsWrapper button {
    cursor: pointer;
}

.mainServices {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.residentialbtnWrapper, .industrialbtnWrapper {
    width: 221px;
    height: 65px;
    border: 1px solid #1C2752;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7px;
    background-color: transparent;
}


.serviceWrapper h2 {
    font-family: 'Mulish', sans-serif;
    font-weight: 800;
    font-size: 45px;
    line-height: 56.48px;
    color: #1C2752;
}


.newProgram {
    width: 687px;
    font-family: Inter, sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 21.78px;
    text-align: center;
    color: #1C2752;
    margin-top: 18px;
}

.serviceWrapper span {
    font-family: Inter, sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 24.2px;
    color: #1C2752;
}

.commericalWrapper {
    margin-top: 40px;
    display: flex;
    max-width: 1200px;
    gap: 60px;
    width: 100%;
    box-sizing: border-box;
    padding: 59px 66px;
    flex-wrap: wrap;
    background-color: #FFFFFF;
}

.comercialinfoWrraper {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.basedonApkhazeti {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 21.78px;
    color: #1C2752;
}

.abkhaziahistoryWrapper {
    width: 562px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 21.78px;
    color: #7E7E7E;
}

.ensambleapkhazetihistoryWrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 13px;
}

.comercialinfoWrraper > span {
    font-family: 'Mulish', sans-serif;
    font-weight: 800;
    font-size: 35px;
    margin-top: 15px;
    line-height: 43.93px;
    color: #1C2752;
}

.readMore {
    background-color: #FFB342;
    padding: 20px 43px 21px;
    border: none;
    width: 190px;
    height: 65px;
    box-sizing: border-box;
    margin-top: 32px;
    cursor: pointer;
}

.readMore > span {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 24.2px;
    color: #1C2752;
}


.comercialContainer {
    position: absolute;
    top: 127px;
}


.servicesinfoWrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F4F4F4;
    padding-bottom: 150px;
}

.ourdancesWrapper {
    max-width: 1200px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin-top: 308px;
}

.ourdancesLogo {
    width: 21px;
    height: 21px;
    border-radius: 50px;
}

.ourdancesinfoWrapper {
    display: flex;
    flex-direction: column;
    width: 687px;
    justify-content: center;
    align-items: center
}


.ourdancesminiLogo {
    background-color: #FFFFFF;
    padding: 8px 16px 7px;
}

.ourdancesminilogoContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 9px;
}

.ourdancesminilogoContainer span {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 21.78px;
    color: #1C2752;
}

.ourdancesinfoWrapper > h3 {
    font-family: 'Mulish', sans-serif;
    font-weight: 800;
    font-size: 45px;
    line-height: 56.48px;
    margin-top: 10px;
    color: #1C2752;
}

.ourdancesinfoWrapper > span {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 21.78px;
    color: #7E7E7E;
    margin-top: 18px;
}

.servicescontainerWrapper {
    width: 100%;
    flex-wrap: wrap;
    display: flex;
    gap: 25px;
    margin-top: 37px;
    justify-content: center;
}

.infocontainerWrapper {
    display: flex;
    flex-direction: column;
    background-color: #1C2752;
    padding: 47px 37px 47px 36px;
    width: 383px;
    height: 322px;
    box-sizing: border-box;
}

.gadavwimavtAziurebs h3 {
    font-family: 'Mulish', sans-serif;
    font-weight: 700;
    font-size: 25px;
    line-height: 31.38px;
    color: #FFB342;
}

.gadavwimavtAziurebs {
    display: flex;
    gap: 11px;
    flex-direction: column;
    text-align: left;
    margin-top: 20px;
}

.gadavwimavtAziurebs span {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 21.78px;
    color: #D2D2D2;
}

.infocontainerWrapper a {
    font-family: Inter, sans-serif;
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
    line-height: 21.78px;
    color: #FFFFFF;
    text-align: left;
    margin-top: 30px;
}

.blurphotoWrapper {
    width: 845px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 921px;
    gap: 70px;
    background-size: 845px 921px;
    background-repeat: no-repeat;
    background-image: url("../images/tinchachua.jpg");
}

.reasonsWrapper {
    display: flex;
    width: 100%;
    gap: 70px;
    flex-wrap: wrap;
}

.infoBtns {
    padding: 182px 115px;
    box-sizing: border-box;
    width: 630px;
    height: 693px;
    background-color: rgba(28, 39, 82, 0.7);
    backdrop-filter: blur(12.5px);
    border: 1px solid rgba(0, 0, 0, 1);
}

.buttonWrapper {
    display: flex;
}

 .numberofConcerts {
     font-family: 'Mulish', sans-serif;
     font-weight: 800;
     font-size: 25px;
     line-height: 31.38px;
     color: rgba(28, 39, 82, 1);
     width: 96px;
     display: flex;
     align-items: center;
     justify-content: center;
     height: 65px;
     background-color: #FFB342;
 }

 .concertsDone {
     font-family: 'Mulish', sans-serif;
     font-weight: 700;
     font-size: 25px;
     line-height: 31.98px;
     color: #FFFFFF;
     padding: 17px 22px;
     width: 304px;
     height: 65px;
     box-sizing: border-box;
     border: 1px solid #FFFFFF;
 }

 .infobuttonsWrapper {
     display: flex;
     gap: 23px;
     flex-direction: column;
 }

 .fewreasonstocomeonConcert {
     display: flex;
     margin: 156px 0;
     flex-direction: column;
 }

 .reasonsinfoWrapper {
     display: flex;
     flex-direction: column;
     gap: 22px;
     width: 643px;
     height: 200px;
 }

 .cometoConcert {
    font-family: 'Mulish', sans-serif;
    font-weight: 800;
    font-size: 45px;
    line-height: 56.48px;
    color: #1C2752;
     margin-top: 9px;
 }

 .ourconcertareGood {
     font-family: Inter, sans-serif;
     font-weight: 400;
     font-size: 18px;
     line-height: 21.78px;
     color: #7E7E7E;
 }

 .yearswithCheckbox {
     display: flex;
     gap: 13px;
 }

.yearswithCheckbox > div h4 {
    font-family: 'Mulish', sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 25.1px;
    color: #1C2752;
}

.yearswithCheckbox > div span {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 21.78px;
    color: #7E7E7E;
    width: 513px;
}

.yearsinfoWrapper {
    display: flex;
    flex-direction: column;
}


.yearswithcheckboxWrapper {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-top: 44px;
}

.checkoutourrecentDances {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #1C2752;
    padding-bottom: 169px;
    align-items: center;
    justify-content: center;
}

.dancesWrapper {
    display: flex;
    align-items: center;
    margin-top: 169px;
    flex-direction: column;
}

.checkDances {
    font-family: 'Mulish', sans-serif;
    font-weight: 800;
    font-size: 45px;
    line-height: 56.48px;
    margin-top: 9px;
    color: #FFFFFF;
}

.chanba {
    background-color: #FFFFFF;
    padding: 21px 22px;
    width: 444px;
    height: 626px;
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    gap: 23px;
}

.dancestopicWrapper {
    display: flex;
    gap: 30px;
    margin-top: 60px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.chanbatopicWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 7px;
}

.chanbatopicWrapper h4 {
    font-family: 'Mulish', sans-serif;
    font-weight: 700;
    font-size: 25px;
    line-height: 31.38px;
    color: #1C2752;
}

.chanbatopicWrapper span {
    font-family: Inter, sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 21.78px;
    color: #7E7E7E;
}

.inputWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 150px;
}

.fanscommentWrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 39px;
}

.fanscommentContainer {
    display: flex;
    flex-direction: column;
    width: 581px;
}




.fansSay {
    font-family: 'Mulish', sans-serif;
    font-weight: 800;
    font-size: 35px;
    line-height: 44px;
    color: #1C2752;
    margin-top: 15px;
    margin-bottom: 23px;
}

.fansavatarWrapper {
    border: 1px solid #DDDDDD;
    display: flex;
    flex-direction: column;
    padding: 39px;
    box-sizing: border-box;
    width: 100%;
}

.batonidavitiWrapper {
    width: 70px;
    height: 70px;
    border-radius: 100px;
}

.batonidavitiavatarWrapper {
    display: flex;
    gap: 11px;
    align-items: center;

}

.batonidavitiHeading h5 {
    font-family: 'Mulish', sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 25.1px;
    color: #1C2752;
}

.batonidavitiHeading span {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 19.36px;
    color: #7E7E7E;
}

.profileavatarWrapper {
    display: flex;
    align-items: center;
    gap: 11px;
    justify-content: space-between;
    padding-bottom: 20px;
    border-bottom: 1px solid #DCDCDC;
}

.batonidavitiHeading {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.didntCopy {
    width: 100%;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-style: italic;
    font-size: 22px;
    line-height: 29.92px;
    margin-top: 17px;
    color: #7E7E7E;
}

.didntCopy span {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 22px;
    line-height: 29.92px;
    font-style: italic;
    color: #1C2752;
}

.chevronWrapper {
    display: flex;
    gap: 12.41px;
    margin-top: 31.38px;
}

.chevronWrapper > img {
    cursor: pointer;
}

.phonenumberWrapper {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 22px;
}

.phonenumberWrapper span {
    font-family: 'Mulish', sans-serif;
    font-weight: 800;
    font-size: 30px;
    line-height: 45.46px;
    color: #FFFFFF;
}

.anyquestionWrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 50px 42px;
    box-sizing: border-box;
    background-color: #FFB342;
    margin-top: 33px;
    /*height: 347px;*/
}

.anyquestionWrapper h3 {
    font-family: 'Mulish', sans-serif;
    font-weight: 800;
    font-size: 25px;
    line-height: 31px;
    color: #1C2752;
    margin-top: 22px;
}

.ifyouwanttoCome {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 21.78px;
    color: #1C2752;
    margin-top: 12px;
}

.forminputWrapper form {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.forminputWrapper {
    padding: 68px 58px;
    background-color: #F4F4F4;
    margin-top: 19px;
}

.forminputWrapper form input, .forminputWrapper form textarea {
    width: 464px;
    height: 65px;
    border: 1px solid #DDDDDD;
    padding: 21px 33px 22px 33px;
    box-sizing: border-box;
    font-family: Inter, sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 21.78px;
    color: #7E7E7E;
}

.forminputWrapper form textarea {
    width: 464px;
    height: 139px;
    border: 1px solid #DDDDDD;
    resize: none;
    box-sizing: border-box;
    padding: 21px 0 0 33px;
}

#submit {
    margin-top: 15px;
    background-color: #FFB342;
    font-family: Inter, sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 24.2px;
    color: #1C2752;
    cursor: pointer;
}

.formWrapper h2 {
    font-family: 'Mulish', sans-serif;
    font-weight: 800;
    font-size: 35px;
    line-height: 43.93px;
    color: #1C2752;
    margin-top: 15px;
}

.accountWrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}