body {
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

ul {
    padding: 0;
    margin: 0;
}


header {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}


.headerdateandiconsWrapper {
    width: 100%;
    align-items: center;
    height: 60px;
    background-color: #F2F2F2;
    display: flex;
    justify-content: center;
}

.openingTime {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #1C2752;
}

.iconsWrapper {
    display: flex;
    align-items: center;
    gap: 17px;
}

.iconsanddateWrapper {
    max-width: 1198px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.iconsWrapper img {
    cursor: pointer;
}

.headeritemsWrapper {
    max-width: 1199.79px;
    width: 100%;
    height: 68px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 44px;
    height: 47.5px;
    border-radius: 50px;
}

.logoforComment {
    width: 30px;
    height: 29px;
    border-radius: 25px;
}

.logoWrapper > span {
    font-family: 'Mulish', sans-serif;
    font-weight: 800;
    font-size: 35px;
    line-height: 43.93px;
}

.logoWrapper {
    display: flex;
    align-items: center;
    height: 47.5px;
    width: 240px;
    gap: 10px;
}

.contactbuttonsWrapper {
    display: flex;
    gap: 68px;
    align-items: center;
}

.mailconvertWrapper, .phonelogoWrapper {
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #263AE7;
    border-radius: 256px;
    justify-content: center;
}


.mailinfoWrapper {
    display: flex;
    flex-direction: column;

}

.mailinfoWrapper h3, .callusinfoWrapper h3 {
    font-family: 'Mulish', sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 25.1px;
    color: #1C2752;
}

.mailinfoWrapper span, .callusinfoWrapper span {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 21.78px;
    color: #7E7E7E;
}

.mailWrapper {
    display: flex;
    gap: 11px;
    align-items: center;
}

.callUs {
    display: flex;
    gap: 11px;
    align-items: center;
}

nav {
    width: 100%;
    height: 93px;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 197px;
    position: absolute;
}

.navigationWrapper {
    max-width: 1199px;
    width: 100%;
    box-sizing: border-box;
    padding: 14px;
    display: flex;
    justify-content: space-between;
    height: 100%;
    background-color: #FFB342;
}

.navigationWrapper ul {
    display: flex;
    align-items: center;
    width: 700px;
    justify-content: space-between;
    list-style-type: none;
}

.navigationWrapper ul a {
    text-decoration: none;
    font-family: Inter, sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 24.2px;
    color: #2F2F2F;
}

.navitemPages {
    display: flex;
    align-items: center;
    gap: 3px;
}

.navigationWrapper button {
    padding: 20px 22px 21px;
    background-color: #1C2752;
    display: flex;
    border: none;
    align-items: center;
    cursor: pointer;
    justify-content: center;
}

.navigationWrapper button span {
    font-family: Inter, sans-serif;
    font-weight: 600;
    font-size: 20px;
    color: white;
    line-height: 24.2px;
}

main {
    margin-top: 66px;
}

.mainpageBakcground {
    width: 100%;
    height: 924px;
    background-image: url("../images/mainbackgruond.jpg");
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
}

.mainpageBakcground > div {
    display: flex;
    flex-direction: column;


}

.intriganComment {
    width: 500px;
    padding: 8px 16px 7px;
    background-color: rgba(255, 255, 255, 0.2);
    box-sizing: border-box;
}

.intrigancommentWrapper {
    max-width: 1199px;
    width: 100%;
    margin-top: 329px;
    height: 100%;
    flex-direction: column;
    display: flex;
}
.intriganComment > div {
    display: flex;
    align-items: center;
    gap: 9px;
}


.intriganComment > div span {
    font-family: Inter, sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 21.78px;
    color: #FFFFFF;
}

.weareproffesoinalsWrapper {
    width: 619px;
    margin-top: 21px;
}

.weareproffesoinalsWrapper h1 {

    font-family: 'Mulish', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 60px;
    line-height: 75px;
    color: #FFFFFF;
}

.intrigancommentWrapper button {
    width: 191px;
    margin-top: 32px;
    border: none;
    height: 65px;
    padding: 20px 33px 21px;
    box-sizing: border-box;
    background-color: #FFB342;
    font-family: Inter, sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 24.2px;
    color: #1C2752;
}


.mainWrapper {
    display: flex;
    flex-direction: column;
    max-width: 1199px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    justify-content: center;
    margin-top: 150px;
}

.experienceWrapper {
    padding: 8px 16px 7px;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    width: 235.48px;
    height: 45px;
    background-color: #F4F4F4;
}

.welcomemessageWrapper {
    display: flex;
    align-items: center;
    gap: 9px;
}

.welcomemessageWrapper span {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 21.78px;
}

.expereienceContainer {
    display: flex;
    gap: 60px;
}

.welcomemessageWrapper img {
    width: 22.48px;
    height: 24.27px;
    border-radius: 50px;
}

.experienceinfoWrapper {
    width: 600px;
    margin: 23.92px 0;
}

.apkazetifutureWrapper span {
    font-family: 'Mulish', sans-serif;
    font-weight: 800;
    font-size: 45px;
    line-height: 56px;
    color: #1C2752;
}

.apkazetifutureWrapper {
    margin-top: 10px;
}

.aboutBachana {
    display: flex;
    margin-top: 20px;
    gap: 25px;
    flex-direction: column;
}

.aboutBachana p {
    margin: 0;
    font-family: Inter, sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 21.78px;
    color: #7E7E7E;
}

.experienceyearWrapper {
    display: flex;
    gap: 40px;
    margin-top: 38px;
}

.experienceyearWrapper > div {
    display: flex;
    flex-direction: column;
    background-color: #F4F4F4;
    gap: 19px;
    justify-content: center;
    align-items: center;
    padding: 35px 34px;
}

.experienceyearWrapper div span {
    font-family: 'Mulish',sans-serif;
    font-weight: 800;
    font-size: 20px;
    line-height: 25px;
    text-align: center;
    width: 107px;
    color: #1C2752;
}

.experienceyearWrapper ul {
    width: 319px;
    display: flex;
    flex-direction: column;
    margin: 30.58px 0;
    gap: 16px;
    list-style-type: none;
}

.experienceyearWrapper ul li {

    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #7E7E7E;

}